[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.2.5"
certifi = "==2019.3.9"
chardet = "==3.0.4"
defusedxml = "==0.6.0"
django-allauth = "==0.39.1"
django-ipware = "==2.1.0"
django-js-asset = "==1.2.2"
django-mptt = "==0.10.0"
django-ranged-response = "==0.2.0"
django-simple-captcha = "==0.5.11"
django-user-agents = "==0.3.2"
idna = "==2.8"
isort = "==4.3.17"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
mysqlclient = "==1.4.2.post1"
oauthlib = "==3.0.1"
pylint = "==2.3.1"
python3-openid = "==3.1.0"
pytz = "==2019.1"
requests = "==2.21.0"
requests-oauthlib = "==1.2.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
typed-ast = "==1.3.1"
ua-parser = "==0.8.0"
urllib3 = "==1.24.2"
user-agents = "==2.0"
wrapt = "==1.11.1"
Django = "==2.2"
Pillow = "==6.2.0"
PyYAML = "==5.1"
django-mailgun = "*"
django-sslserver = "*"
django-crispy-forms = "*"
django-filter = "*"
django-widget-tweaks = "*"
django-summernote = "*"
django-cleanup = "*"
django-autoslug = "*"

[requires]
python_version = "3.6"
