{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <button class="close col-1 ml-auto mr-n2" type="button" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times text-muted shadow_hover"></i>
        </button>
        <div class="modal-content rounded">

            <div class="modal-header p-0  z-depth-1">
                <div class="col m-0 p-0">
                    <ul class="nav nav-tabs nav-justified border-0" id="myTab" role="tablist">
                        <li class="nav-item col m-0 px-0 hoverable">
                            <a class="nav-link btn-secondary border-0 rounded-0 p-md-3 active" id="home-tab" data-toggle="tab" href="#loginTab" role="tab"
                                aria-controls="home" aria-selected="true">
                                <h5 class="modal-title" id="exampleModalLabel">{% trans "Log in" %}</h5>
                            </a>
                        </li>

                        <li class="nav-item col m-0 px-0 hoverable">
                            <a class="nav-link btn-secondary border-0 rounded-0 p-md-3" id="profile-tab" data-toggle="tab" href="#signupTab" role="tab"
                                aria-controls="profile" aria-selected="false">
                                <h5 class="modal-title" id="exampleModalLabel">{% trans "Signup" %}</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content" id="myTabContent">
                <!-- Login -->
                <div class="tab-pane fade show active" id="loginTab" role="tabpanel" aria-labelledby="home-tab">
                    <form class="loginForm md-form mb-0" id="loginForm" method="POST" action="{% url 'account_login' %}?next={{request.get_full_path|urlencode}}">
                        <div class="modal-body m-2">
                            {% csrf_token %}
                            <!-- E-mail input -->
                            <div class="md-form md-outline mb-3">
                                <i class="fas fa-envelope prefix"></i>
                                <input class="form-control z-depth-1" type="email" name="login" id="loginFormEmail"
                                    aria-describedby="loginSmallEmail" required>
                                <small id="loginSmallEmail" class="form-text text-muted">
                                    {% trans 'Your email' %}
                                </small>
                            </div>

                            <!-- Login input -->
                            <div class="md-form md-outline mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <input class="form-control z-depth-1" type="password" name="password"
                                    id="loginFormPassword" required>
                                <small id="loginSmallPassword" class="form-text text-muted">{% trans 'Your password' %}
                                </small>
                            </div>
                            <!-- Social buttons -->
                            <div class="d-flex justify-content-center">
                                <a class=" " 
                                    href="{% provider_login_url 'google' %}">

                                    <span class="fa-stack fa-lg text-danger">
                                        <i class="fas fa-circle fa-stack-2x "></i>
                                        <i class="fab fa-google-plus-g fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a class=""
                                    href="{% provider_login_url 'facebook' %}">
                                    <span class="fa-stack fa-lg indigo-text">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button class="btn btn-light col" type="button"
                                data-dismiss="modal">{% trans 'Close' %}</button> -->
                            <button class="primaryAction btn btn-default col-auto"
                                type="submit">{% trans 'Log in' %}</button>
                        </div>
                        <!-- {% url 'account_login' %}?next={{request.get_full_path|urlencode}} -->

                    </form>
                </div>



                <!-- Sign up -->
                <div class="tab-pane fade" id="signupTab" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="modal-body m-2">

                        <form class="signup md-form mb-0" id="signup_form" method="POST" action="{% url 'account_signup' %}?next={{request.get_full_path|urlencode}}">
                            {% csrf_token %}
                            <!-- E-mail input -->
                            <div class="md-form md-outline mb-3">
                                <i class="fas fa-envelope prefix"></i>
                                <input class="form-control z-depth-1 p-2" type="email" name="email" id="id_email" required>
                                <small id="id_email" class="form-text text-muted">{% trans 'Your email' %}
                                </small>
                            </div>

                            <!-- Password input -->
                            <div class="md-form md-outline  mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" name="password1"
                                    class="textinput textInput form-control z-depth-1 boreder boreder-0"
                                    id="signupFormPassword" aria-describedby="signupSmallPassword">
                                <label data-error="wrong" data-success="right" for="signupFormPassword">Your
                                    password</label>
                                    <small id="signupSmallPassword" class="form-text text-muted">{% trans 'This field required' %}
                                    </small>
                            </div>

                            <!-- Password confirm input -->
                            <div class="md-form md-outline  mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" name="password2"
                                    class="textinput textInput form-control z-depth-1 boreder boreder-0"
                                    id="id_password2" aria-describedby="signupSmallPassword2">
                                <label data-error="wrong" data-success="right" for="id_password2">Confirm
                                    password </label>
                                    <small id="signupSmallPassword2" class="form-text text-muted">{% trans 'This field required' %}
                                    </small>
                            </div>

                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="modal-footer">
                                <!-- <button class="btn btn-light col" type="button"
                                    data-dismiss="modal">{% trans 'Close' %}</button> -->

                                <button class="btn btn-success col-auto" id="signupSubmitBtn" type="submit">{% trans "Sign Up" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VALIDATE -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


<script>
    jQuery.validator.setDefaults({
        debug: false,
        success: "valid"
    });
    $("#signup_form").validate({
        rules: {
            semail: {
                required: true,
                email: true,
                minlength: 5,
                remote: "{% url 'validate_username' %}",
            },
        },
        messages: {
            semail: {
                required: "We need your email",
                email: "invalid email",
                remote: "The email is already taken."
            }
        },
        submitHandler: function(form) {
        form.submit();
    }
    });

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $("#loginForm").validate({
        rules: {
            login: {
                required: true,
                email: true,
                minlength: 5,
                remote: "{% url 'validate_username' %}",
            },
        },
        messages: {
            login: {
                required: "We need your email",
                email: "invalid email",
                remote: "The email is already taken."
            }
        },
        submitHandler: function(form) {
        form.submit();
    }
    });
</script>