{% extends 'blogapp/base.html' %}

{% block content %}
{% load static %}

<style>
    .heading {
        font-size: calc(1rem + 4vw) !important;
    }

    .subheading {
        font-size: calc(0.5em + 1.5vw) !important;
    }

    .center {
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn-lily {
        font-size: calc(0.5rem + 0.6vw) !important;
    }
</style>

<!-- ----------------------------------------------------------------------- -->

<!-- Purple Header -->
<div class="edge-header deep-purple lighten-5"></div>
<!-- 
<div class="container free-bird">
    <div class="row ">
        <div class="col-md-8 mx-auto float-none white z-depth-1 py-2 px-2 ">

            <div class="card-body">
                <h2 class="h2-responsive"><strong>Material Design Edge Headers</strong></h2>
                <p class="pb-4">Example of Material Design Form</p>

                <form action="#">

                    <h5 class="h5-responsive ">Basic Textbox</h5>
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control">
                        <label for="form1" class="">Example label</label>
                    </div>

                    <h5 class="h5-responsive">Textbox with icon</h5>
                    <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Your name</label>
                    </div>

                    <h5 class="h5-responsive">E-mail validation</h5>
                    <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="form9" class="form-control validate">
                        <label for="form9" data-error="wrong" data-success="right">Your email</label>
                    </div>

                    <h5 class="h5-responsive">Textarea</h5>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea type="text" id="form7" class="md-textarea form-control" rows="2"></textarea>
                        <label for="form7">Textarea</label>
                    </div>

                    <h5 class="h5-responsive">Disabled field</h5>
                    <div class="md-form">
                        <input type="text" id="form11" class="form-control" disabled>
                        <label for="form11" class="disabled">Example label</label>
                    </div>

                    <div class="text-xs-left">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <div class="my-2">
                    <p style="font-weight:300;font-size:0.75rem">Never submit your passwords here</p>
                </div>
            </div>
        </div>
    </div>
</div> -->




<!-- TABS block -->
<div class="container free-bird">
    <!-- TAB NAVS -->
    <ul class="nav nav-tabs border-0 " id="myTab" role="tablist">
        <li class="nav-item rounded-top col m-0 p-0 active">
            <a class="nav-link btn-link btn-lg border-0 rounded-0 active" id="about-tab" data-toggle="tab"
                href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
        </li>

        <li class="nav-item col rounded-top m-0 p-0">
            <a class="nav-link btn-link btn-lg border-0 rounded-0" id="home-tab" data-toggle="tab" href="#home"
                role="tab" aria-controls="home" aria-selected="false">Tab 1</a>
        </li>

        <li class="nav-item rounded-top col m-0 p-0">
            <a class="nav-link btn-link btn-lg border-0 rounded-0" id="profile-tab" data-toggle="tab"
                href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tab 2</a>
        </li>

        <li class="nav-item rounded-top col m-0 p-0">
            <a class="nav-link btn-link btn-lg border-0 rounded-0" id="contact-tab" data-toggle="tab"
                href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tab 3</a>
        </li>
    </ul>
    <div class="tab-content white z-depth-1 p-md-5 p-3" id="myTabContent">
        
        <!-- TAB 1 -->
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <h1 class="font text-center p-3">Profile</h1>

            <!-- User card -->
            <div class="row pt-3 ">
                <div class="card col-12 col-md m-md-2 p-0">
                    <div class="position-relative blue-gradient rounded-top mb-5 d-flex justify-content-center align-items-center"
                        style="height: 150px;">
                        {% if user.avatar %}
                        <img class="card-img-top position-absolute prof_image " src="{{ user.avatar.url }}"
                            alt="avatar">
                        {% else %}
                        <img class="card-img-top position-absolute prof_image" src="{% static 'image/noavatar.jpg' %}"
                            alt="no avatar" style="height:120px; width:120px; object-fit: cover;">
                        {% endif %}
                    </div>

                    <div class="card-body text-center">
                        <h4 class="card-title">Hi {{ user.username|capfirst }}!</h4>
                        <p class="card-text"> {{user.email}} </p>
                        <p class="card-text"> {{ request.user_agent.browser.family }} </p>
                        <p class="card-text"> {{ request.user_agent.os.family }} </p>
                        <p class="card-text"> {{ client_ip }} </p>
                    </div>
                </div>

                <form action="{% url 'user_edit_form' %}" class="dropzone col-12 col-md m-md-2 z-depth-1 border-0"
                    id="my-awesome-dropzone">
                    {% csrf_token %}
                    <div class="fallback md-form">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>


                <!-- Google map -->
                <!-- <div class="col-12 col-md-7 mt-3 mt-md-0 mx-auto">
                    <div class="card embed-responsive embed-responsive-16by9 h-100">
                        <iframe class="embed-responsive-item"
                            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d325518.6878652635!2d30.252508192327323!3d50.40169903973357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0JrQuNC10LIsINCz0L7RgNC-0LQg0JrQuNC10LI!5e0!3m2!1sen!2sua!4v1575931772898!5m2!1sen!2sua"
                            frameborder="0" style="border:0;" allowfullscreen="">
                        </iframe>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- TAB 2 -->
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mb-3">
                <h3 class="text-center my-3 col-12 p-0">Some beautiful text here</h3>
                <img class="col-12 col-lg-6 rounded-lg z-depth-1 p-0" src="{% static 'image/freedom.jpg' %}"
                    style="object-fit: cover;" alt="">
                <div class="col-12 col-lg-6 lead">
                    <p>
                        {% lorem 1 p %}
                    </p>
                </div>
            </div>

            <div class="row">
                <h3 class="text-center my-3 col-12">Some beautiful text here</h3>

                <img class="col-12 col-lg-6 order-lg-2 rounded-lg z-depth-1 p-0"
                    src="{% static 'image/slider/33.jpg' %}" style="object-fit: cover;" alt="">
                <div class="col-12 col-lg-6 lead">
                    {% lorem 1 p %}
                </div>
            </div>

            <div class="row mb-3">
                <h3 class="text-center my-3 col-12 p-0">Some beautiful text here</h3>

                <img class="col-12 col-lg-6 rounded-lg z-depth-1 p-0" src="{% static 'image/slider/22.jpg' %}"
                    style="object-fit: cover;" alt="">
                <div class="col-12 col-lg-6 lead">
                        {% lorem 1 p %}
                </div>
            </div>
        </div>

        <!-- TAB 3 -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <img class="img-fluid" src="{% static 'image/slider/11.jpg' %}" alt="">
            <h3 class="text-center m-3">Some beautiful text here</h3>
            <div class="lead col-md-10 mx-auto">
                {% lorem 4 p %}
            </div>
        </div>
        <!-- TAB 4 -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <img class="img-fluid" src="{% static 'image/slider/22.jpg' %}" alt="">
            <h3 class="text-center m-3">Some beautiful text here</h3>
            <div class="lead col-md-10 mx-auto">
                {% lorem 4 p %}
            </div>
        </div>
    </div>
</div>


<!-- Detail block -->
<section class="container-fluid my-5 p-0">
    <div class="card mb-4 rounded-0">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-7 mx-auto" data-aos="fade-up">
                <div class="col-md-12 col-lg-9 col-xl-7 mx-auto">
                    <img class="w-100 h-75 rounded-bottom mt-n4 z-depth-2 "
                        src="https://mdbootstrap.com/img/Photos/Vertical/7.jpg" alt="project image">
                </div>
            </div>
            <div class="col-md-5 p-sm-5 py-3 pl-md-0 align-self-center">
                <h5 class="font-weight-normal mb-3">Project detail</h5>

                <p class="text-muted">Out or geared it but to best up samples the for she phase of copy would do
                    in
                    divine
                    of taken and the take medical or upper at him in the logbook were, we price his mostly to
                    commas.
                </p>
                <ul class="list-unstyled font-small mt-5 mb-0">
                    <li>
                        <p class="text-uppercase mb-2"><strong>Client</strong></p>
                        <p class="text-muted mb-2">Envato Inc.</p>
                    </li>

                    <li>
                        <p class="text-uppercase mb-2"><strong>Date</strong></p>
                        <p class="text-muted mb-2">June 27, 2019</p>
                    </li>

                    <li>
                        <p class="text-uppercase mb-2"><strong>Skills</strong></p>
                        <p class="text-muted mb-2">Design, HTML, CSS, Javascript</p>
                    </li>

                    <li>
                        <p class="text-uppercase mb-2"><strong>Address</strong></p>
                        <a href="https://mdbootstrap.com/docs/jquery/design-blocks/">MDBootstrap</a>
                    </li>

                    <li>
                        <p class="text-uppercase mt-4 mb-2"><strong>Share</strong></p>
                        <div class="d-flex justify-content-start">
                            <a class="text-muted pr-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="text-muted pr-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="text-muted pr-3" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="text-muted" href="#"><i class="fab fa-dribbble"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<div class="container my-sm-5 z-index-3 pt-5 pb-3 px-5 z-depth-1 white">

    <!--Section: Content-->
    <section class="text-center dark-grey-text">

        <div class="row text-center d-flex justify-content-center my-5">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <i class="fas fa-envelope-open fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Subscription Ready</h5>
                <p class="text-muted mb-0">MailChimp integration included</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <i class="fas fa-layer-group fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Block Variety</h5>
                <p class="text-muted mb-0">Develop pages like lego</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <i class="fas fa-brush fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Color Pallet</h5>
                <p class="text-muted mb-0">Dozen of colors for elements</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">
                <i class="fas fa-puzzle-piece fa-3x mb-4 grey-text"></i>
                <h5 class="font-weight-normal mb-3">Page Builder</h5>
                <p class="text-muted mb-0">Drag and drop page design</p>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>


<!-- Call to action
<div class="container my-5 py-5 z-depth-1 white">
    <section class="px-lg-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="font-weight-bold">Material Design Blocks</h3>

                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                    molestiae
                    numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.
                </p>

                <a class="btn btn-purple btn-md ml-0" href="#" role="button">Start now<i class="fa fa-gem ml-2"></i></a>
            </div>
            <div class="col mb-4 mb-md-0">
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div> -->


<!-- FISH Intro -->
<section class="view z-depth-1-half">
    <div class="white position-relative">
        <div class="col-lg-12 position-absolute center" style="z-index: 100;">
            <div class="row">
                <h1 class="heading text-left text-md-center white-text col-12 col-lg-6 mb-sm-5" data-aos="fade-right">
                    {% lorem 5 w %}
                </h1>

                <h4 class="subheading d-none d-lg-inline text-muted text-right text-md-center col-12 col-lg-6" data-aos="fade-left">
                    {% lorem 20 w %}
                </h4>

                <h4 class="subheading d-lg-none white-text text-right text-md-center col-12 col-lg-6" data-aos="fade-left">
                    {% lorem 15 w %}
                </h4>

                <div class="col-12">
                    <button class="btn blue-gradient white-text float-right btn-lily" type="button">
                        Get started 
                        <i class="fas fa-caret-right ml-3"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 px-0">
            <div class="view embed-responsive embed-responsive-1by1">
                <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg"
                    class="embed-responsive-item" style="object-fit: cover;" alt="smaple image">
                <div class="mask flex-center rainy-ashville-gradient" style="opacity: 0.7;">
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        Dropzone.options.myAwesomeDropzone = {
            paramName: "avatar", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            maxFiles:   1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            addRemoveLinks: "{% url 'user_edit_form' %}",
            createImageThumbnails: true,
            resizeQuality: 0.5,
            dictRemoveFile: "Clean dropzone"
        };
    });
</script>
{% endblock %}