/* body {
  font-family: 'Nunito', sans-serif !important;
  font-family: 'Nunito Sans', sans-serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-size: calc(0.8em + 0.5vw) !important;
  line-height: calc(1.8em) !important;
} */
html {
  scroll-behavior: smooth;
}


/* Rotate on hover */
.round {
  border-radius: 50%; /* Круглые изображения */
  transition: 0.7s; /* Время поворота */
 }
 
 .round:hover {
  transform: rotate(360deg); /* Поворачиваем на 360 градусов */
 }
/* end Rotate on hover */

.row {
  margin: 0px !important;
}

/* File upload browse button */
label::after {
  display: none !important;
}

.circle {
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}


.ellipsis::after {
  content: "...";
}

.prof_image {
  height: 130px !important;
  width: 130px !important;
  object-fit: cover !important;
  margin: auto !important;
  border: solid white 6px !important;
  bottom: -60px !important;
  margin: auto !important;
  border-radius: 100% !important;
}

.btn-circle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 4rem !important;
  height: 4rem !important;
  padding: 0 !important;
  border-radius: 100% !important;
  object-fit: cover;
}


.btn-circle-bg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 4.5rem !important;
  height: 4.5rem !important;
  padding: 0 !important;
  border-radius: 100% !important;
  object-fit: cover;
}



.bttn_social {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 100% !important;
  object-fit: cover;
  padding: 3px;
  background-color: white !important;
}

.btnNewPost:hover {
  transform: scale(1.5);
}

.shadow_hover:hover {
  text-shadow: -7px 8px 2px silver;
  color: #ff4444;
}

.text_shadow {
  text-shadow: -7px 8px 2px gray, -3px 5px silver;
}

.hover:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
  ;
}


.dropdown-toggle:after {
  display: none !important;
}

.dropdown-item {
  -webkit-transition: width 3s !important;
  transition: width 5s !important;
  color: gray !important;
  border-radius: 0.1rem;
}




/* ASPECT RATIO */
/* 
<div class="row">
    .<div class="container-fluid">
        <div class="col-12 col-md-4">
            <div style="position: relative;  padding-top: 66.66%; width: 100%; background-color: red;">
                <img class="" src="{{ user.avatar.url }}" alt="avatar"
                    style="width: 100%; max-height: 100%; top:0; left: 0; object-fit: cover;  position: absolute;">
            </div>
        </div>
    </div>
</div> */