* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 1.75;
}

body {
    background-color: rgb(240, 240, 240);
    padding-bottom: 50px;
}

.font {
    color: rgb(100, 100, 100);
}


.main {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.posts {
    padding: 20px;
    width: 50%;
    background-color: rgb(255, 254, 244);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 2px silver;
    transition: 1;
}


.post_header {
    width: 100%;
    padding: 10px;
    color: rgb(100, 100, 100);
    border-bottom: thin solid silver;
}

.post_header h2{
    display: flex;
    justify-content: space-between;
}




.header {
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    height: 33%;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px 2px silver;
    margin-bottom: 20px;

}

.header h1{
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.5);
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    color: gray;
    margin-bottom: 20px;
    box-shadow: 0px 6px 4px 4px rgb(213, 213, 213);
    margin: 0px 20px 40px 20px;
}

.navbar a {
    display: flex;
    height: 100px;
    width: 200px;
    color: rgb(100, 100, 100);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background-color: rgb(210, 210, 210);
    opacity: 0.7;
}

.navbar a:hover {
    opacity: 1;
}

.nav_1 {
    height: 10px;
    background-color: rgb(233, 233, 233);
    margin: 0px 30px;
}

.nav_2 {
    height: 10px;
    background-color: rgb(223, 223, 223);
    margin: 0px 40px;
}

.nav_3 {
    height: 10px;
    background-color: rgb(213, 213, 213);
    margin: 0px 50px;
}

.forms {
    color: rgb(80, 80, 80);
    display: grid;
    margin: 20px;
    grid-gap: 20px;
}

.form_container {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    display: grid;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px silver;
}

.form_container h1 {
    text-align: center;
}

.forms textarea {
    width: 100%;
    padding: 10px;
    height: 300px;
}

.forms input {
    width: 100%;

}


@media only screen and (max-width: 900px) {
    .posts {
        width: 100vw;
        border-radius: 0;
        font-size: 16px;
    }

    .header h1 {
        font-size: 30px;
        padding: 10px;
    }

    .navbar a {
        font-size: 30px;
    }

    .form_container{
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

}