{% load static %}
{% url 'blogapp:post_list' as post_list %}
{% url 'blogapp:profile' as profile %}
{% url 'blogapp:post_draft' as post_draft %}
{% url 'user_edit_form' as user_edit_form %}
{% url 'blogapp:profile' as profile %}
{% url 'blogapp:profile' as profile %}

{% load crispy_forms_tags %}
{% load i18n %}


<nav id="navbar"
    class="p-md-3 navbar-right navbar navbar-expand-md navbar-dark rgba-stylish-strong fixed-top shadow-sm py-0">
    <div class="container">
        <a class="navbar-brand waves-light p-2 rounded-pill" href="#">MENU:</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"> 
            <i class="fas fa-hamburger"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if post_list == request.path %}
                <li class="nav-item active">
                    <a class="nav-link p-3 hoverable disabled active" href="{% url 'blogapp:post_list' %}">
                        <i class="fas fa-stream"></i>
                        <span>FLOW</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link p-3 hoverable" href="{% url 'blogapp:post_list' %}">
                        <i class="fas fa-stream"></i>
                        <span>FLOW</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}


                {% if profile == request.path %}
                <li class="nav-item active">
                    <a class="nav-link p-3 hoverable disabled" href="{% url 'blogapp:profile' %}">
                        <i class="fas fa-address-card"></i>
                        <span> My posts</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link p-3 hoverable" href="{% url 'blogapp:profile' %}">
                        <i class="fas fa-address-card"></i>
                        <span> My posts</span>
                    </a>
                </li>
                {% endif %}


                {% if post_draft == request.path %}
                <li class="nav-item active">
                    <a class="nav-link p-3 hoverable disabled" href="{% url 'blogapp:post_draft' %}">
                        <i class="fab fa-firstdraft"></i>
                        <span>Drafts</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link p-3 hoverable" href="{% url 'blogapp:post_draft' %}">
                        <i class="fab fa-firstdraft"></i>
                        <span>Drafts</span>
                    </a>
                </li>
                {% endif %}



                {% endif %}
            </ul>


            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle rounded-pill p-0 rotate-in-center" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="btn-social-mmm p-0">
                            {% if user.is_authenticated %}
                            <img class="btn-social rounded-circle z-depth-0 m-0 p-0" src="{{  user.avatar.url }}" alt="avatar">
                            {% else %}
                            <!-- <i class="far fa-user-circle"></i> -->
                            <span class="fa-stack fa-lg">
                                <i class="far fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-astronaut fa-stack-1x"></i>
                            </span>
                            {% endif %}
                        </div>
                    </a>


                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-md-right dropdown-info p-2">
                        {% if user.is_authenticated %}

                        {% if user_edit_form == request.path %}
                        <a class="dropdown-item p-3 hoverable disabled" href="{% url 'user_edit_form' %}">
                            <i class="fas fa-user-circle"></i>
                            <span>Profile</span>
                        </a>
                        {% else %}
                        <a class="dropdown-item p-3 hoverable" href="{% url 'user_edit_form' %}">
                            <i class="fas fa-user-circle"></i>
                            <span>Profile</span>
                        </a>
                        {% endif %}

                        <div class="dropdown-divider"></div>


                        <a class="dropdown-item p-3 hoverable" type="button" data-toggle="modal"
                            data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>{% trans 'Log out' %}</span>
                        </a>
                        {% else %}

                        <a class="dropdown-item p-3 hoverable" type="button" data-toggle="modal"
                            data-target="#loginModal">
                            <i class="fas fa-sign-in-alt"></i>
                            <span>{% trans 'Log in' %}</span>
                        </a>
                        <a class="dropdown-item p-3 hoverable" href="{% url 'account_signup' %}">
                            <i class="fas fa-user-plus"></i>
                            {% trans 'Signup' %}
                        </a>
                        {% endif %}



                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>



<!-- Login Modal -->
{% include 'blogapp/forms/loginForm.html' %}


<!-- Logout modal -->
{% include 'blogapp/forms/logoutForm.html' %}