{% load crispy_forms_tags %}
{% load widget_tweaks %}


<!-- Filter -->
<div class="container-fluid white mb-5" id="Filter">
    <div class="row mx-auto">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <form class="md-form" action="{% url 'blogapp:profile' %}#Filter" method="get">
                <div class="input-group md-form">
                    {{ form.q|add_class:'col form-control' }}
                    <div class="input-group-append unique-color rounded-pill">
                        <span class="input-group-text white-text unique-color border-0 pr-0"
                            id="basic-addon1">{{ search_amount }}</span>

                        <button class="btn btn-link m-0 pl-3 py-2 pr-4 " type="submit">
                            <i class="fa fa-search fa-2x white-text"></i>
                        </button>
                    </div>
                </div>
                <div class="row my-md-5">
                    <div class=" col-md col-12">
                        {{ form.date|add_class:'rounded-lg border-0 z-depth-1 form-control col-sm col p-2 browser-default custom-select' }}
                        {{ form.date.label }}

                    </div>

                    <div class=" col-md col-12">
                        {{ form.author|add_class:'rounded-lg border-0 z-depth-1 form-control col-sm col p-2 browser-default custom-select' }}
                        {{ form.author.label }}
                    </div>
                </div>
                <div class="input-group-append mt-3">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-filter"></i> 
                        <span class="d-none d-sm-inline"> Filter</span>
                    </button>

                    <a class="btn btn-outline-warning rounded-pill" href="{% url 'blogapp:post_list' %}#Filter">
                        <i class="fas fa-redo-alt"></i>
                        <span class="d-none d-sm-inline"> Reset</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>