{% load static %}
<html>

<head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Mysite</title>
    <link rel="stylesheet" href="{% static 'css/blogapp.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="header" style="background-image: url('{% static 'image/header.jpg' %}')">
        <div class="header_color">
            <div>
                <h1>GRAY DRAFT</h1>
            </div>
        </div>
    </div>


    <div class="navbar">
        <div>
            <a href="{% url 'post_list' %}"><span>Flow</span><i class="fas fa-stream"></i></a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %} "><span>Me</span> <i class="fas fa-address-card"></i></a>
            <a href="{% url 'post_new' %}"><span>New</span> <i class="fas fa-plus-square"></i> </a>
            <a href="{% url 'post_draft' %}"><span>Drafts</span> <i class="fab fa-firstdraft"></i></a>
            {% endif %}
        </div>
        <div>
            {% if user.is_authenticated %}
            <a class="small_avatar" href="{% url 'account_logout' %}">
                <span>Logout</span> 
                {% if author.avatar %}
                <img src="{{ user.avatar.url }}" alt="avatar">
                {% else %}
                <img src="{% static 'image/noavatar.jpg' %}" alt="no avatar">
                {% endif %}
            </a>
            {% else %}
            <a href="{% url 'account_login' %}"><span>Login</span> <i class="fas fa-sign-in-alt"></i></a>
            <a href="{% url 'account_signup' %}">signup</a>
            {% endif %}
        </div>
    </div>


    <div class="grid">
        <div>
            <div class="profile font">
                <div class="profile_avatar">
                    {% if author.avatar %}
                    <img src="{{ user.avatar.url }}" alt="avatar">
                    <a style="padding: 20px" href=" {% url 'user_edit_form' %} ">Photo <i
                            class="fas fa-camera-retro"></i></i></a>
                    {% else %}
                    <img src="{% static 'image/noavatar.jpg' %}" alt="no avatar">
                    {% endif %}
                </div>

                <div class="profile_text">
                    <h2>Hi {{ user.username|capfirst }}!</h2>
                    <h2> {{user.email}} </h2>
                    <h2> {{ request.user_agent.browser.family }} </h2>
                    <h2> {{ request.user_agent.os.family }} </h2>
                    <h2> {{ client_ip }} </h2>
                </div>
            </div>
        </div>

        <div>
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% if posts.has_other_pages %}
    <div class="pagination font">
        <div>
            {% if posts.has_previous %}
            <a id="previous_page_btn" href="{{ posts.previous_page_number }}" class="fas fa-arrow-left" style="font-size: 30px"></a>
            {% endif %}
        </div>

        <div>
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </div>

        <div>
            {% if posts.has_next %}
            <a id="next_page_btn" href="{{ posts.next_page_number }}" class="fas fa-arrow-right" style="font-size: 30px"></a>
            {% endif %}
        </div>
    </div>
    {% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="{% static 'JS/myScript.js' %}"></script> 
</body>

</html>