{% load static %}
<html>

<head>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Mysite</title>
    <link rel="stylesheet" href="{% static 'css/blogapp.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body style="background-image: url('{% static 'image/allauth.jpg' %}')">
    <div class="header" style="background-image: url('{% static 'image/header.jpg' %}')">
        <div class="header_color">
            <div>
                <h1>GRAY DRAFT</h1>
            </div>
            <div>
                {% if user.is_authenticated %}
                <h2>Hi {{ user.username }}!</h2>
                <p><a href="{% url 'account_logout' %}">logout</a></p>
                {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">login</a> |
                <a href="{% url 'account_signup' %}">signup</a>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="grid">
        <div class="navbar">
            <a href="{% url 'post_list' %}">Home <i class="fas fa-home"></i></a>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}">New<i class="fas fa-plus-square"></i> </a>
            <a href="{% url 'post_draft' %}">Drafts <i class="fab fa-firstdraft"></i></a>
            {% endif %}
        </div>


        <div class="main">
            {% block content %}
            {% endblock %}
        </div>


    </div>
</body>

</html>