{% extends 'blogapp/base.html' %}
{% load mptt_tags %}
{% block content %}
{% load static %}


<!-- POSTS -->
<div class="row justify-content-center mb-5">
    <div class="jumbotron p-0 z-depth-1 rounded-lg" style="width: 50rem">
        {% if post.cover %}
        <div class="embed-responsive embed-responsive-16by9">
            <img class="embed-responsive-item rounded-top kenburns-bottom" style="object-fit:cover;" src="{{ post.cover.url}}"
                alt="image">
        </div>
        {% endif %}

        <div class="card-body">
            {% if post.author == user %}
            <a class="far fa-edit font mx-2" href="{% url 'blogapp:post_edit' pk=post.pk %}"></a>
            <a class="fas fa-trash-alt mx-2" href="{% url 'blogapp:post_remove' pk=post.pk %}"></a>
            {% if not post.published_date %}
            <a class="mx-2 float-right" href="{% url 'blogapp:post_publish' pk=post.pk %}"><i
                    class="far fa-paper-plane"></i></a>
            {% endif %}
            {% endif %}

            {% if post.published_date %}
            <p>{{ post.published_date }}</p>
            {% endif %}
            {% if user.is_authenticated  %}
            <h2 class="card-title">
                {{ post.title|capfirst }}
            </h2>
            {% endif %}

            <div class="card-text">
                <p>{{ post.text|linebreaksbr|capfirst }}</p>
            </div>
        </div>



        <!-- COMMENTS -->
        {% if post.published_date %}
        <div class="comments px-3">
            <hr>
            <a href="{% url 'blogapp:add_comment_to_comment' pk=post.pk %} ">Add comment <i
                    class="far fa-comment-alt"></i></a>
        </div>

        <div class="comment my-5 mx-3">
            <ul style='list-style-type: none'>
                {% recursetree new_comments %}
                <li>
                    <div class="media">
                        {% if node.commented_by.avatar %}
                            <img class="mr-3" style="width: 4rem; height: 4rem; object-fit: cover;"
                                src="{{ node.commented_by.avatar.url }}" alt="avatar">
                            {% else %}
                            <img class="mr-3" style="width: 4rem" src="{% static 'image/noavatar.jpg' %}"
                                alt="no avatar">
                            {% endif %}
                        <div class="media-body">
                            {% if node.commented_by.username %}
                            <h5>{{ node.commented_by.username }}</h5>
                            {% endif %}
                            {{ node.text }}
                        </div>
                    </div>

                    <a href="{% url 'blogapp:add_comment_to_comment' pk=post.pk redid=node.pk %}">Reply <i
                            class="far fa-comment-alt"></i></a>
                    <hr>

                    {% if not node.is_leaf_node %}

                    <ul style='list-style-type: none'>
                        {{ children }}
                    </ul>
                    {% endif %}

                </li>
                {% endrecursetree %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}