{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="font text-center m-3">HAPPY POST</h1>
    
    <form class="card mx-auto pt-3" id="robustPostForms" method="POST" enctype="multipart/form-data">
        <div class="card-body">
            {% csrf_token %}
            <div class="col md-form">
                {{ form.title|attr:"required"|add_class:'form-control'|attr:"placeholder: Enter the title" }}
            </div>

            <div class="col md-form">
                {{ form.text|attr:"required"|add_class:'form-control md-textarea'|attr:"placeholder: Enter the text" }}
            </div>

            <!-- Image upload -->
            <div class="col md-form">
                <div class="custom-file view overlay col p-0 m-0" id="imageupload" style="height: 100px;">
                    {{ form.cover|attr:"required"|add_class:'custom-file-input h-100' }}
                    <label class="custom-file-label d-flex justify-content-center align-items-center h-100 p-0 m-0"
                        for="{{ form.cover.id_for_label }}">
                        <span class="align-middle"><i class="fas fa-cloud-upload-alt"> </i> Choose file... </span>
                    </label>
                </div>
            </div>

            <button type="submit" id="postButton" class="btn btn-primary rounded-pill">Save</button>
        </div>
    </form>
</div>


<Script>
    jQuery.validator.setDefaults({
        debug: false,
        success: "valid"
    });

    $('#robustPostForms').validate({
        rules: {
            '{{ form.title.name }}': {
                required: true,
                minlength: 2,
                maxlength: 200
            },
            '{{ form.text.name }}': {
                required: true,
            },
            '{{ form.cover.name }}': {
                required: false,
                extension: "png|jpeg|jpg",
            }
        },
        messages: {
            '{{ form.title.name }}': {
                required: "Please specify a title",
                maxlength: "Put less than 200 symbols"
            },
            '{{ form.text.name }}': {
                required: "Please specify a text",
            },
            '{{ form.cover.name }}': {
                required: "Please specify a photo",
                extension: "Only image type jpg/png/jpeg is allowed"
            }
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
</Script>
{% endblock %}