{% extends 'blogapp/base.html' %}
{% load mptt_tags %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


<!-- POSTS -->
<div class="row justify-content-center mb-5">
    <div class="card p-0 z-depth-1 rounded-lg mt-5" style="width: 50rem">
        {% if post.cover %}
        <div class="embed-responsive embed-responsive-16by9">
            <img class="embed-responsive-item rounded-top kenburns-bottom" style="object-fit:cover;"
                src="{{ post.cover.url}}" alt="image">
        </div>
        {% endif %}

        <div class="card-body position-relative">
            <a class="position-absolute white btn-circle-bg" style="top: -2.25rem; right: 1.5rem;"
                href="{% url 'post_author_profile' pk=post.pk %}">
                <img class="btn-circle z-depth-1" src="{{  post.author.avatar.url }}" alt="avatar">
            </a>
            {% if post.author == user %}
            <a class="far fa-edit font mx-2" href="{% url 'blogapp:post_edit' pk=post.pk %}"></a>
            <a class="fas fa-trash-alt mx-2" href="{% url 'blogapp:post_remove' pk=post.pk %}"></a>
            {% if not post.published_date %}
            <a class="mx-2 float-right" href="{% url 'blogapp:post_publish' pk=post.pk %}"><i
                    class="far fa-paper-plane"></i></a>
            {% endif %}
            {% endif %}

            {% if post.published_date %}
            <p>{{ post.published_date }}</p>
            {% endif %}

            <h2 class="card-title text-break overflow-hidden">
                {{ post.title|capfirst }}
            </h2>

            <p class="card-text text-break overflow-hidden">{{ post.text|linebreaksbr|capfirst }}</p>
        </div>


        <!-- COMMENTS -->
        {% if post.published_date %}
        <div class="comments px-3">
            <hr>
            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        <h3 class="text-muted">New comment</h3>
                        <form method="POST" class="md-form md-outline">
                            {% csrf_token %}
                            {{ form.text|add_class:'col form-control'|attr:"rows:4"  }}
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment m-3">
            <ul class="list-unstyled">
                {% recursetree new_comments %}
                <li class=" mb-3">
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="btn-social-bg">
                                {% if node.commented_by.avatar %}
                                <img class="btn-social" src="{{ node.commented_by.avatar.url }}" alt="avatar">
                                {% else %}
                                <img class="btn-social" src="{% static 'image/noavatar.jpg' %}" alt="no avatar">
                                {% endif %}
                            </div>

                            <div class="col-12 col-sm-10">
                                <h6 class="card-title pink-text text-break overflow-hidden"> {{ node.created_date }}
                                    {% if node.commented_by.username %}
                                    {{ node.commented_by.username }}
                                    {% endif %}
                                </h6>
                                <p class="card-text">
                                    {{ node.text }}
                                </p>
                            </div>
                        </div>
                        <a class="card-footer d-flex justify-content-between"
                            href="{% url 'blogapp:add_comment_to_comment' pk=post.pk redid=node.pk %}">
                            <span><i class="far fa-comment-alt"></i> Reply</span>
                        </a>
                    </div>

                    {% if not node.is_leaf_node %}

                    <ul class="list-unstyled ml-3 ml-sm-5">
                        {{ children }}
                    </ul>
                    {% endif %}

                </li>
                {% endrecursetree %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}