{% extends 'blogapp/base.html' %}

{% block content %}
{% for post in posts %}
<div class="posts">
    {% if post.cover %}
    <img class="post_image" src="{{ post.cover.url }}" alt="image">
    {% endif %}

    <div class="post_header">
        <div class="post_header_top">
            {% if post.author%}
            {{ post.author.username|capfirst }}
            {% else %}
            <p>No name</p>
            {% endif %}
        </div>

        {% if post.published_date %}
        <p>{{ post.published_date }}</p>
        {% endif %}

        <h2>
            {{ post.title|capfirst }}
        </h2>
    </div>

    <div class="post_text font">
        <p>{{ post.text|linebreaksbr|capfirst|truncatewords:"30" }}</p>
    </div>
    <a style="display:flex; justify-content:space-between" href="{% url 'blogapp:post_detail' pk=post.pk %}">
        <p>See more...</p>   
        {% if post.published_date %}    
        <p> Comments: {{ post.new_comments.count }}</p>
        {% endif %}
    </a>
</div>
{% endfor %}

{% endblock %}